*{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}
body{
    background-color: black;
 }
 .gallery{
      display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.gallery a{
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px black;
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
 .gallery a img:hover{
    transform: scale(1.4);
}
h1{
    font-size: 50px;
    margin-top: 10px;
    color: white;
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}  